.deckbuilder-page {
  height: 100vh;
  overflow: auto;
  width: 100%;
  .deckbuilder-container {
    display: flex;
    height: 95%;
    .deckbuilder-images {
      background-image: url("/mtg_landscape.jpg");
      background-size: cover;
      max-width: 69%;
      width: 100%;
      button {
        width: 100px;
        height: 50px;
      }
      img {
        margin: 20px;
        width: 22rem;
        height: 30rem;
        &:hover {
          cursor: pointer;
        }
      }
    }
    .deckbuilder-names {
      border: 1px solid black;
      width: 31%;
      overflow-y: auto;
      .card-name {
        width: 100%;
        height: 50px;
        border-bottom: 2px solid white;
        display: flex;
        background: black;
        display: flex;
        align-items: center;
        .count {
          font-size: 2rem;
          color: white;
          background: black;
          margin: 10px;
        }
        .name {
          font-size: 2rem;
          color: white;
          background: black;
        }
        &:hover {
          cursor: pointer;
        }
      }
    }
  }
}
