.deckbuilder-page {
  height: 100vh;
  overflow: auto;
  width: 100%;
  .deckbuilder-container {
    display: flex;
    height: 95%;
    .deckbuilder-images {
      background-image: url("/mtg_landscape.jpg");
      background-size: cover;
      max-width: 69%;
      width: 100%;
      button {
        width: 100px;
        height: 50px;
      }
      img {
        margin: 20px;
        width: 22rem;
        height: 30rem;
        &:hover {
          cursor: pointer;
        }
      }
    }
    .deckbuilder-names {
      border: 1px solid black;
      width: 31%;
      overflow-y: auto;
      .card-name {
        width: 100%;
        height: 50px;
        border-bottom: 2px solid white;
        display: flex;
        background: black;
        display: flex;
        align-items: center;
        .count {
          position: relative;
          .count-shape {
            clip-path: polygon(25% 0%, 100% 1%, 100% 100%, 25% 100%, 0% 50%);
            shape-outside: polygon(25% 0%, 100% 1%, 100% 100%, 25% 100%, 0% 50%);
            position: absolute;
            width: 35px;
            height: 38px;
            z-index: 99;
            border: 3px solid white;
            background: transparent;
            opacity: 1;
          }
          .count-text {
            font-size: 2rem;
            color: white;
            background: transparent;
            margin: 10px;
            opacity: 1;
          }
        }
        .name {
          font-size: 2rem;
          color: white;
          background: black;
        }
        &:hover {
          cursor: pointer;
        }
      }
    }
  }
}
