form {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  width: 25%;
  height: 20%;
  input {
    border: 3px solid;
    border-image-source: linear-gradient(#8c3838, #ca8888);
    border-image-slice: 1;
    width: 80%;
    height: 20%;
    background: #0b0b0b;
    color: white;
    font-size: 1.6rem;
    &::placeholder {
      color: #53495c;
    }
  }
}
